@import url('https://fonts.googleapis.com/css2?family=New+Rocker&display=swap');

body{
    background-color: rgb(160, 9, 9);
    color: rgb(0, 0, 0)
}

.cabecalho{
    background-color: rgb(206, 14, 14);
    text-align: center;
    padding: 15px;
    font-family: "Ballet", cursive;
}