@import url('https://fonts.googleapis.com/css2?family=Ballet:opsz@16..72&display=swap');

body{
    background-color: rgb(184, 224, 147);
    color: rgb(0, 0, 0)
}

.cabecalho{
    background-color: rgb(226, 163, 231);
    text-align: center;
    padding: 15px;
    font-family: "Ballet", cursive;
}